.navbar {
    width: 100%;
    color: white;
    font-size: 1rem;
    position: fixed;
    top: 0;
    z-index: 10;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.5) 50%);
    transition: .5s ease-in-out;
}

.scrolled {
    background-color: #141414;
    transition: .5s ease-in-out;
}

.container {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.left {
    display: flex;
    align-items: center; 
}

.left img {
    height: 3rem;
    margin-right: 2rem;
    cursor: pointer;
}

.left .nav-links span {
    margin-right: 1.5rem;
    cursor: pointer;
}

.browse .browse-options {
    display: none; 
    text-align: center;
    background-color: rgba(20, 20, 20, .5);
}

.browse .browse-options span {
    padding: 1rem;
}

.browse .browse-options span:hover {
    background-color: rgba(20, 20, 20, .7);
    height: 100%;
    transition: .5s;
    cursor: pointer;
}

.browse:hover .browse-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20%;
    border-top: 2px solid rgb(211, 208, 208);
}

.right {
    display: flex;
    align-items: center;
}

.right .icon {
    margin: 1rem 1rem;
    cursor: pointer;
    font-size: 1.25rem;
}

.right img {
    border-radius: .25rem;
    cursor: pointer;
}

.right .profile:hover .icon{
    transform: rotate(180deg);
    transition: .25s ease-in-out;
}

.right .profile:hover .options{
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid rgb(211, 208, 208);
}

.right .profile .options {
    background-color: #141414;
    display: none;
    position: absolute;
    top: 4rem;
    right: 4rem;
    padding: 1rem; 
}

.right .profile .options span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.right .profile .options .option-icons {
    margin-right: 1rem;
}

.options div {
    text-align: center;
    padding: 1rem 0 0 0;
    margin: .5rem 0 0 0;
    border-top: 1px solid rgb(211, 208, 208);
    cursor: pointer;
}

.options div p {
    margin: 0;
}

.options p:hover {
    text-decoration: underline;
}